<%# eventデータ更新の為、DOMの更新を行う：ページ変化 %>

<h1>PDF表示用ページ</h1>

<div>
     <p>受け取り情報</p>
     <p>DB管理_ID: <%= @ggid %></p>
     <p>ファイル: <%= @ggfile %></p>
     <p>作成者: <%= @gguser %></p>
     <p>PDF ID: <%= @filegg %></p>
</div>

<h3>現在表示中のPDF</h3>
<p id="pdf-id">ここにPDF IDが表示されます</p>
<%# src:表示するファイル指定 %>
<h3>表示プレビュー</h3>
<iframe id="content" src= "theURL" ></iframe>
<%# <script>
   //ページロード完了時に関数を実行する
  document.addEventListener("DOMContentLoaded", function() {
    // Pusherのインスタンスを作成
    // var pusher = new Pusher('32f2640be6b94e4b6afe', {
    //   cluster: 'ap3'
    // });

    var channel = pusher.subscribe('my-channel');

    channel.bind('my-event', function(data) {
      // 受け取ったPDFのURLをiframeのsrc属性に設定
      document.getElementById('content').src = data.message;

      // 受け取ったmessageをDOMに表示
      document.getElementById('pdf-id').textContent = data.message;

      // URLを生成
      var url = data.message;
      // リンクのhref属性を動的に変更
      document.getElementById('pdf-id-link').href = url;
      var theURL = url + "/preview";
    });
  });
</script> %>

<!--<%= link_to '現在表示PDF', 'https://www.google.co.jp/', id: "pdf-id-link" %>-->